{% extends "base.html" %}
{% load  static %}

{% block title %}
    首页
{% endblock %}



{% block style %}
    <link href="/static/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <script src="/static/echarts/jquery-2.1.1.min.js"></script>
    <script src="/static/echarts/echarts.min.js"></script>
    <script src="/static/echarts/echarts_gl.js"></script>
{% endblock %}

{% block li %}
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">首页</span></a></li>
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="house_message" aria-expanded="false"><i class="mdi mdi-account-network"></i><span class="hide-menu">房屋信息</span></a></li>
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/underground_message" aria-expanded="false"><i class="mdi mdi-border-all"></i><span class="hide-menu">地下数据</span></a></li>
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/longitudelatitude" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu"></span>经纬度查看</a></li>
    <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">个人中心</span></a></li>
{% endblock %}

{% block content %}

    <div class="container-fluid">
    <div class="row">
            <!-- column -->
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <!-- title -->
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">地下数据展示</h4>
                                <h5 class="card-subtitle">为减轻服务器负担、提高网站反应速度，使用ajax向后端接收数据，根据经度对数据分域处理、展示。</h5>
                            </div>
                            <div class="ml-auto">
                                <div class="dl">
                                    <select class="custom-select" id="select">
                                        {% for foo in l %}
                                            <option value="{{ foo.longitude }}">{{ foo.longitude }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- title -->
                    </div>
                    <div class="card-body" id="main2" style="width: 100%;height: 800px;">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body">
                        <div class="d-md-flex align-items-center">
                            <div>
                                <h4 class="card-title">房屋信息统计</h4>
                                <h5 class="card-subtitle">all house message</h5>
                            </div>
                            <div class="ml-auto d-flex no-block align-items-center">
                                <ul class="list-inline font-12 dl m-r-15 m-b-0">
                                    <li class="list-inline-item text-info"><i class="fa fa-circle"></i> number</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <!-- column -->
                            <div class="col-lg-12">
                                <div class="campaign ct-charts" id="main_chart1"></div>
                            </div>
                            <!-- column -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Tips</h4>
                        <div class="feed-widget">
                            <ul class="list-style-none feed-body m-0 p-b-20">
                                <li class="feed-item">
                                    <div class="feed-icon bg-info"><i class="far fa-bell"></i></div>本网站主要记录经纬度的数据信息。<span class="ml-auto font-12 text-muted">4月24</span></li>
                                <li class="feed-item">
                                    <div class="feed-icon bg-success"><i class="ti-server"></i></div>简易数据分析系统，使数据更直观清晰。<span class="ml-auto font-12 text-muted">4月24</span></li>
                                <li class="feed-item">
                                    <div class="feed-icon bg-warning"><i class="ti-shopping-cart"></i></div>目前信息仍在持续补充中。<span class="ml-auto font-12 text-muted">4月22</span></li>
                                <li class="feed-item">
                                    <div class="feed-icon bg-danger"><i class="ti-user"></i></div> join us。<span class="ml-auto font-12 text-muted">4月21</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block script %}
    <script src="/static/assets/libs/chartist/dist/chartist.min.js"></script>
    <script src="/static/assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/static/dist/js/pages/dashboards/house_message.js"></script>


{% endblock %}

