{% extends "base.html"%}
{% load  static %}

{% block title %}
    地下数据
{% endblock %}

{% block style %}
    <style>
    .ul li{float: left;}
    ul{height: 50px;}
    td{vertical-align: middle;}
    </style>
{% endblock %}


 {% block li %}
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span class="hide-menu">首页</span></a></li>
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/house_message" aria-expanded="false"><i class="mdi mdi-account-network"></i><span class="hide-menu">房屋信息</span></a></li>
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="" aria-expanded="false"><i class="mdi mdi-border-all"></i><span class="hide-menu">地下数据</span></a></li>
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/longitudelatitude" aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu"></span>经纬度查看</a></li>
<li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/admin" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">个人中心</span></a></li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">地下数据信息展示</h4>
                        <h6 class="card-subtitle">展示已经探测到的地下信息，以经纬度为单位进行划分，预留信息更新接口，可对信息进行更新。</h6>
                        <a href="/add_underground_message" class="btn btn-success">添加地下数据</a>
                    </div>
                    <form action="/underground_message">
                        <input type="text" placeholder="请输入经纬度" name="longitudelatitude" value="{{ longitudelatitude }}">
                        <button class="btn btn-default btn-sm">搜索</button>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">经/纬度</th>
                                    <th scope="col">管道长度（m）</th>
                                    <th scope="col">塌陷高度（m）</th>
                                    <th scope="col">地下建筑高度（m）</th>
                                    <th scope="col">详细信息</th>
                                    <th scope="col">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for underground_message in data %}
                                <tr>
                                    <td>{{ underground_message.longitudelatitude.longitude }}&nbsp;/&nbsp;{{ underground_message.longitudelatitude.latitude }}</td>
                                    <th scope="row">{{ underground_message.conduit }}</th>
                                    <td>{{ underground_message.collapse_height }}</td>
                                    <td>{{ underground_message.underground_height }}</td>
                                    <td><a href="/unground_detail/{{ underground_message.id }}" class="btn btn-success btn-sm">查看详情</a></td>
                                    <td>
                                        <a href="/update_underground_message/{{ underground_message.id }}" class="btn btn-primary btn-sm">编辑</a>
                                        <a href="/delete_underground_message/{{ underground_message.id }}" class="btn btn-danger btn-sm">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            <ul class="list">
           {% if data.has_previous %}
            <a href="/underground_message?page={{ data.previous_page_number }}&longitudelatitude={{ longitudelatitude }}" class="btn-sm btn">&lt;</a>
            {% endif %}
            {% for page in page_list %}
                {% if request.GET.page %}
                    {% if page == request.GET.page|add:0 %}
                        <a href="/underground_message?page={{ page }}&longitudelatitude={{ longitudelatitude }}" class="btn-sm btn-success btn">{{ page }}</a>
                    {% elif  request.GET.page|add:0 > data.number and page == 1%}
                        <a href="/underground_message?page={{ page }}&longitudelatitude={{ longitudelatitude }}" class="btn-sm btn-success btn">{{ page }}</a>
                    {% else %}
                        <a href="/underground_message?page={{ page }}&longitudelatitude={{ longitudelatitude }}" class="btn-sm btn">{{ page }}</a>
                    {% endif %}
                {% else %}
                     {% if page == 1 %}
                        <a href="/underground_message?page={{ page }}&longitudelatitude={{ longitudelatitude }}" class="btn-sm btn-success btn">{{ page }}</a>
                        {% else %}
                        <a href="/underground_message?page={{ page }}&longitudelatitude={{ longitudelatitude }}" class="btn-sm btn">{{ page }}</a>
                     {% endif %}
                {% endif %}
            {% endfor %}
             {% if data.has_next %}
                <a href="/underground_message?page={{ data.next_page_number }}&longitudelatitude={{ longitudelatitude }}" class="btn-sm btn">&gt;</a>
             {% endif %}
        </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
{% endblock %}
